.header {
  padding: 18px;
  font-size: 16px;
  height: 56px;
  background: #34c3ff;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;

  Icon {
    vertical-align: 0;
  }

  span {
    margin-left: 24px;
  }
}

.icon {
  width: 56px;
  height: 5px;
  line-height: 56px;
  text-align: center;
}

.content {
  padding: 20px;
  background: #1a1d24;
}

.sidebar {
  flex: 0 0 260px;
  width: 260px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-toggle {
  margin-top: auto;
  border-top: 1px solid #3c3f43;
}

.nav-toggle-item {
  width: 56px;
  text-align: center;
}
